<div ng-show="panes.confirmPane.showing">
    <div class="modal-body">
        <i class="pull-left icon-map-marker icon-3x col-icon" style="color: { activeMarker.color }; margin-top: 10px; margin-right: 15px;"></i>
        <h2 class="question-title col-p">Is the placement of this activity marker correct?</h2>
    </div>
    <div class="modal-footer">
        <button class="btn btn-large" ng-click="close('cancel')">No, let's try again</button>
        <button class="btn btn-large btn-primary" ng-click="show('activitySelectionPane')">Yes</button>
    </div>
</div>

<!-- note: this pane operates under a child scope -->
<div ng-show="panes.activitySelectionPane.showing" ng-controller="SurveyDetailCtrl">
    <div class="modal-header">
        <h2 class="question-title">{{ question.title }}</h2>
    </div>
    <div class="modal-body padded-form">
        <div ng-init="dialog=$parent.dialog;" ng-include="'/static/survey/views/questionTypes.html'"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger btn-large" ng-click="$parent.show('deleteConfirmationPane')">Remove Location</button>

        <span>
            <button ng-show="isAnswerValid" class="btn btn-large save btn-primary" ng-click="answerMultiSelect(question)">Next</button>
            <button ng-hide="isAnswerValid" style="margin-left: 0px" class="btn btn-large save disabled" disabled>Next</button>
        </span>
    </div>
</div>

<div ng-show="panes.deleteConfirmationPane.showing">
    <div class="modal-body">
        <h2 class="question-title">Remove this location?</h2>
    </div>
    <div class="modal-footer">
        <button class="btn btn-large" ng-click="show('activitySelectionPane')">Cancel</button>
        <button class="btn btn-large btn-danger" ng-click="close('cancel')">Remove Location</button>
    </div>
</div>

