<div class="modal-outofbounds">
	<div class="modal-body">
		<i class="icon-warning-sign icon-3x pull-left col-icon" style="margin-top: 15px"></i>
	    <p class="col-p">This location is outside of the Puget Sound coastal recreation study area. We are collecting data for the area shown below in yellow.</p>
	    <p class="col=p"></p>
		
		<center><img style="width: 65%" src="/static/images/PS_CR_3mi_buffer_resize.jpg"></center>

	</div>
	<div class="modal-footer">
	    <button class="btn btn-large" ng-click="close()">OK</button>
	</div>
</div>